body {
    width: 98%;
    margin: auto
}

h1, h2, .app-header {
    text-align: center;
}

.scorecard {
    position: relative;
}

#help-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.help {
    color: white;
    text-align: left;
    position: fixed;
    height: 75%; 
    width: 50%;
    background-color: rgba(0, 0, 0, 0.904);
    border: 5px solid white;
    padding: 0 10px 0 10px;
    margin-left:  25% ;
    margin-top: 5%;
    z-index: 100;
}

#help-x {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 5px;
}

.scorecard {
    background-color: darkgray;
    padding: 10px 0 30px 0;
    border: 5px solid black;
    margin: 10px auto 20px auto;
}

.scorecard-header, .scorecard-columns {
    display: flex;
    justify-content: space-between;
}

.scorecard-header {
    padding: 40px;
    width: 90%;
    margin: 5px auto 20px auto;
    border: 2px solid white;
    background-color: rgb(47, 47, 47);
    color: white;
}

.scorecard-columns {
    padding-right: 7.5%;
}

.scorecard-row {
    margin: auto;
    width: 95%;
    display: flex;
}

.player-selects, .player-selects-head{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.player-selects {
    background-color: white;
    border: 1px solid navy;
}

.player-selects-children {
    padding-top: 20%;
}

.batting-order {
    padding-top: 15%;
}

.diamond {
    position: relative;
    background-color: white;
    border: 1px solid navy;
    width: 200px;
    height: 150px;
    background-image: url('/Users/codyevins/Documents/Code/personal-projects/baseball-scorecard/diamond.jpg');
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center;
}

.rbi {
    padding: 5px;
}

.sb {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.result {
    position: absolute;
    top: 30%;
    left: 30%;
}

.out-count {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.base-button {
    height: 15px;
    width: 15px;
    transform: rotate(45deg)
}

#first-base {
    position: absolute;
    top: 45%;
    right: 19%;
}

#second-base {
    position: absolute;
    top: 9.5%;
    left: 46%;
}

#third-base {
    position: absolute;
    top: 45%;
    left: 19%;
}

.home-plate-button {
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 9.5%;
    left: 46%;
}

.tally {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    margin: auto;
}

.tally-child {
    border: 1px solid navy;
    background-color: white;
    padding: 5%;
    margin: auto;
    text-align: center;
}